$icon-size-base: 16px; 
$icon-size-sm: 12px;
$icon-size-md: 20px;
$icon-size-lg: 24px;

.icon {
    --#{$prefix}icon-size: #{$icon-size-base};
    --#{$prefix}icon-size-sm: #{$icon-size-sm};
    --#{$prefix}icon-size-md: #{$icon-size-md};
    --#{$prefix}icon-size-lg: #{$icon-size-lg};

	display: inline-block;
	width: var(--#{$prefix}icon-size);
	height: var(--#{$prefix}icon-size);
    background-color: currentColor;
    mask: var(--icon);
	mask-repeat: no-repeat;
    mask-size: contain;
    margin: 0;
    padding: 0;
}

.icon-sm {
    --#{$prefix}icon-size: var(--#{$prefix}icon-size-sm);
}

.icon-md {
    --#{$prefix}icon-size: var(--#{$prefix}icon-size-md);
}

.icon-lg {
    --#{$prefix}icon-size: var(--#{$prefix}icon-size-lg);
}