/**
 *  Extend with Bravo's custom SCSS
 */
$prefix: "bravo" !default;
$enable-grid-classes: false !default;
$enable-container-classes: false !default;
$enable-deprecation-messages: false !default;
//$color-mode-type: "media-query" !default;

/**
 *  Import Bravo's custom color scheme
 */
@import "bravo/functions";
@import "bravo/color";

/**
 *  Import default Bootstrap SCSS
 */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

/**
 *  Overwrite Bootstrap's $colors, since it only contains the base-colors and not the adjustments
 */
$theme-custom-colors: generate-custom-colors($theme-colors);
$colors: map-merge-multiple($theme-custom-colors, $blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

@if variable-exists(bravo-colors) {
   $colors: map-merge($colors, generate-custom-colors($bravo-colors));
}

/**
 *  Output all colors as css-variables
 */
@import "bootstrap/scss/root";

/**
 *  Map bootstrap scss-variables into css-variables for even more flexibility
 */
@import "bravo/color-patch";