/**
 *  Extend with Bravo's custom SCSS
 */
$prefix: "bravo" !default;
$enable-grid-classes: false !default;
$enable-cssgrid: true !default;
$enable-container-classes: false !default;
$enable-deprecation-messages: false !default;
//$color-mode-type: "media-query" !default;

/**
 *  Custom Bravo's configuration
 */
$container-gutters: (
    xxl: 5rem,
    xl: 4rem,
    lg: 3rem,
    md: 2rem,
    sm: 1.5rem,
    xs: 1rem
) !default;

/**
 *  Import Bravo's custom color scheme
 */
@import "bravo/functions";
@import "bravo/color";
@import "bravo/typograph";

/**
 *  Defaultly import Bravo's design system modifiers
 */
@import "bravo/themes/bravo";

/**
 *  Import default Bootstrap SCSS
 */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/transitions";

/**
 *  Overwrite Bootstrap's $colors, since it only contains the base-colors and not the adjustments
 */
@import "bravo/utilities";

/**
 *  Output all colors as css-variables
 */
@import "bootstrap/scss/root";
@import "bootstrap/scss/utilities/api";

/**
 *  Map bootstrap scss-variables into css-variables for even more flexibility
 */
@import "bravo/color-patch";
@import "bravo/typograph-patch";
@import "bravo/themes/bravo-patch";

/**
 *  Bravo's custom Root
 */
:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: max(3px, env(safe-area-inset-bottom));
    --sal: env(safe-area-inset-left);    
}