/**
 *
 */
$blue:    #006AFF !default;
$indigo:  #5f27cd !default;
$purple:  #9500F0 !default;
$pink:    #FF3385 !default;
$red:     #E50000 !default;
$orange:  #FF822E !default;
$yellow:  #FFCF00 !default;
$green:   #008A00 !default; 
$teal:    #00D18B !default;
$cyan:    #26D3D9 !default;

$body-color-dark: #f0f6fc !default;
$body-bg-dark:    #0d1117 !default;
$body-tertiary-bg-dark: #151b23 !default;