/**
 *  Bootstrap doesnt take the --sar + --sal in consideration (horizontal mobile)
 *  (SafeAreaRight+Left)
 */
@mixin make-container() {
    width: 100%;
    max-width: var(--container-width);
    padding-right: var(--#{$prefix}gutter-end);
    padding-left: var(--#{$prefix}gutter-start);
    margin-right: auto;
    margin-left: auto;
}

// Single container class with breakpoint max-widths
.container,
  // 100% wide container at all breakpoints
  .container-fluid {
    @include make-container();
}

.container {
  --container-width: #{map-get($grid-breakpoints, xxl)};
}

.container-fluid {
  --container-width: 100%;
}

@each $breakpoint, $size in $grid-breakpoints {
    @include media-breakpoint-up($breakpoint) {
        .container, .container-fluid {
            --#{$prefix}gutter-x: #{map-get($container-gutters, $breakpoint)};
            --#{$prefix}gutter-end: calc(map-get($container-gutters, $breakpoint) + var(--sar));
            --#{$prefix}gutter-start: calc(map-get($container-gutters, $breakpoint) + var(--sal));
        }
    }
}