/**
 *  Bootstrap's css-grid is awefule, let's fix it
 */
$grid-gap: map-get($spacers, 4) !default; // 1.5rem, 24px

/**
 *  Overwrite Bootstrap's column classes so we can have e.g .column-3-sm which means 3/12 size in mobile
 *  ** We have to put it Here, so the Bootstrap-grid gets overwritten
 */
@mixin make-cssgrid($columns: $grid-columns, $breakpoints: $grid-breakpoints) {
    @each $breakpoint in map-keys($breakpoints) {
        $infix: breakpoint-infix($breakpoint, $breakpoints);

        // Use media-breakpoint-down to apply styles below the breakpoint
        @include media-breakpoint-down($breakpoint, $breakpoints) {
            @for $i from 1 through $columns {
                .column#{$infix}-#{$i} {
                    grid-column: auto / span $i;
                }
            }

            // Start with `1` because `0` is an invalid value.
            // Ends with `$columns - 1` because offsetting by the width of an entire row isn't possible.
            @for $i from 1 through ($columns - 1) {
                .column-offset#{$infix}-#{$i} {
                    grid-column-start: ($i + 1);
                }
            }
        }
    }
}