/**
 *  Bootstrap's grid system has some nesting flaws and weird names of the columns, let's fix that
 */

/**
 *  Overwrite Bootstrap's column classes so we can have e.g .column-3-sm which means 3/12 size in mobile
 */
@mixin make-cssgrid($columns: $grid-columns, $breakpoints: $grid-breakpoints) {
    @each $breakpoint in map-keys($breakpoints) {
        $infix: breakpoint-infix($breakpoint, $breakpoints);

        // Use media-breakpoint-down to apply styles below the breakpoint
        @include media-breakpoint-down($breakpoint, $breakpoints) {
            @for $i from 1 through $columns {
                .column-#{$i}#{$infix} {
                    grid-column: auto / span $i;
                }
            }

            // Start with `1` because `0` is an invalid value.
            // Ends with `$columns - 1` because offsetting by the width of an entire row isn't possible.
            @for $i from 1 through ($columns - 1) {
                .column-offset-#{$i}#{$infix} {
                    grid-column-start: $i;
                }
            }
        }
    }
}