/**
 *  There's so many utilities in Bootstrap that's not commonly used 
 */
// Remove Utilities not commonly used
$utilities: map-remove($utilities, 
    "viewport-width", 
    "min-viewport-width", 
    "viewport-height", 
    "min-viewport-height", 
    "max-width", 
    "max-height",
    "font-family",
    "rounded-top",
    "rounded-end",
    "rounded-bottom",
    "rounded-start"
);

/**
 *  Grab potantially incoming colors and merge them into Bootstrap's "core"
 *  + generate missing colors (25-50 + 950-975)
 */
$theme-custom-colors: generate-custom-colors($theme-colors);
$colors: $theme-custom-colors;
$bs-color-maps: ($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

@each $bs-color-map in $bs-color-maps {
    $colors: map-merge($colors, bs-to-bravo-colors($bs-color-map));
}

/**
 *  If any incoming colors, merge them into the general map of colors and finally put them into utilities
 */
@if variable-exists(custom-colors) {
    $custom-bravo-colors: generate-custom-colors($custom-colors);
    $custom-bravo-colors-variables-map: generate-key-variable-map($custom-bravo-colors);
    $colors: map-merge($colors, $custom-bravo-colors);

    // Pair the new colors with utilities
    @each $util in ("color", "background-color", "border-color") {
        $utilities: map-merge(
            $utilities,
            (
                $util: map-merge(
                    map-get($utilities, $util),
                    (
                        values: map-merge(
                            map-get(map-get($utilities, $util), "values"),
                            (
                                $custom-bravo-colors-variables-map
                            )
                        )
                    )
                )
            )
        );
    }
}

// Map all theme colors with potential adjustments
@each $color-name, $color-value in $theme-colors {
    $theme-colors: map-merge($theme-colors, ("#{$color-name}": map-get($colors, #{$color-name}-500)));
    $theme-colors-text: map-merge($theme-colors-text, ("#{$color-name}": map-get($colors, #{$color-name}-500)));
    $theme-colors-bg-subtle: map-merge($theme-colors-bg-subtle, ("#{$color-name}": map-get($colors, #{$color-name}-100)));
    $theme-colors-border-subtle: map-merge($theme-colors-border-subtle, ("#{$color-name}": map-get($colors, #{$color-name}-200)));
    $theme-colors-text-dark: map-merge($theme-colors-text-dark, ("#{$color-name}": map-get($colors, #{$color-name}-200)));
    $theme-colors-bg-subtle-dark: map-merge($theme-colors-bg-subtle-dark, ("#{$color-name}": map-get($colors, #{$color-name}-900)));
    $theme-colors-border-subtle-dark: map-merge($theme-colors-border-subtle-dark, ("#{$color-name}": map-get($colors, #{$color-name}-700)));
}