/**
 *  Patch existing Boostrap styles into Bravo-overrides
 */
.modal-header {
    .btn[rel=back], .btn[rel=close] {
        font-size: 0;

        &:before {
            content: "";
            mask-repeat: no-repeat;
            mask-size: cover;
            background-color: currentColor;
            width: 14px;
            height: 14px;
        }
    }

    .btn[rel=back]:before {
        mask-image: #{$icon-back};
    }

    .btn[rel=close]:before {
        mask-image: #{$icon-close};
    }    
}

// Fix Modal spacings
.modal {
    --#{$prefix}modal-layouts-spacing-compensation-inner: .5;
    --#{$prefix}modal-layouts-spacing-compensation-outer: .75;
    --#{$prefix}modal-layout-space-compensation-inner-y: calc(var(--#{$prefix}modal-padding) * calc(var(--#{$prefix}modal-layouts-spacing-compensation-inner) * -1));
    --#{$prefix}modal-layout-space-compensation-outer-y: calc(var(--#{$prefix}modal-padding) * var(--#{$prefix}modal-layouts-spacing-compensation-outer));
    --#{$prefix}modal-backdrop-blur: #{$modal-backdrop-blur};
    backdrop-filter: blur(var(--#{$prefix}modal-backdrop-blur));
    
    .modal-header {
        padding: var(--#{$prefix}modal-layout-space-compensation-outer-y) var(--#{$prefix}modal-padding) 0 var(--#{$prefix}modal-padding);
        margin-bottom: var(--#{$prefix}modal-layout-space-compensation-inner-y);
    }

    .modal-footer {
        padding: 0 var(--#{$prefix}modal-padding) var(--#{$prefix}modal-layout-space-compensation-outer-y) var(--#{$prefix}modal-padding);
        margin-top: var(--#{$prefix}modal-layout-space-compensation-inner-y);
    }
}

.modal-content {
    --#{$prefix}modal-box-shadow: #{$modal-content-box-shadow-xs};
    box-shadow: var(--#{$prefix}modal-box-shadow);
}

.modal-footer {
    justify-content: center !important;

    & > * {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.modal-header, .modal-footer {
    position: relative;
    z-index: 2;
}

/**
 *  Buttons
 */
.btn {
    gap: map-get($spacers, 1);
    
    /*&:focus:not(:focus-visible), &:focus-visible {
        outline-offset: 0 !important;
        outline-width: 0 !important;
    }*/

    &:active {
        transform: scale(.95);
    }
}

.nav-link:focus-visible {
    box-shadow: none !important;
}

.input-group .btn {
    --#{$prefix}btn-border-radius: #{$input-border-radius};
}

/**
 *  Dropdown
 *  - We use the y-axis padding to create a more consistent spacing between the items
 */
.dropdown-menu {
    .dropdown-item {
        display: flex;
        align-items: center;
        border-radius: calc(var(--#{$prefix}dropdown-border-radius) - (var(--#{$prefix}dropdown-padding-x) * .75));
        gap: map-get($spacers, 1);
    
        &.active, &:active {
            color: var(--#{$prefix}dropdown-link-active-color) !important;
        }

        &.disabled, &:disabled {
            color: var(--#{$prefix}dropdown-link-disabled-color) !important;
        }
    }

    .dropdown-divider {
        margin-left: #{$dropdown-divider-margin-x};
        margin-right: #{$dropdown-divider-margin-x};
    }
}

/**
 *  Tooltip
 *  - We use an inner container in order to create the animation effect
 */
.tooltip {
    --#{$prefix}tooltip-scale: .95;
    --#{$prefix}tooltip-transform-distance: 5px;

    &[data-popper-placement^="top"] .tooltip-container { @extend %tooltip-container_top-reset; }
    &[data-popper-placement^="right"] .tooltip-container { @extend %tooltip-container_end-reset; }
    &[data-popper-placement^="bottom"] .tooltip-container { @extend %tooltip-container_bottom-reset; }
    &[data-popper-placement^="left"] .tooltip-container { @extend %tooltip-container_start-reset; }

    &.show {
        &[data-popper-placement^="top"] .tooltip-container { @extend %tooltip-container_top; }
        &[data-popper-placement^="right"] .tooltip-container { @extend %tooltip-container_end; }
        &[data-popper-placement^="bottom"] .tooltip-container { @extend %tooltip-container_bottom; }
        &[data-popper-placement^="left"] .tooltip-container { @extend %tooltip-container_start; }
    }
}

.tooltip-container {
    animation-duration: 0.3s;
    animation-timing-function: ease;
}

%tooltip-container_top { animation-name: tooltipAppearTop; }
%tooltip-container_top-reset { animation-name: tooltipDisappearTop; transform-origin: bottom center; }
%tooltip-container_end { animation-name: tooltipAppearEnd }
%tooltip-container_end-reset { animation-name: tooltipDisappearEnd; transform-origin: left center; }
%tooltip-container_bottom { animation-name: tooltipAppearBottom; }
%tooltip-container_bottom-reset { animation-name: tooltipDisappearBottom; transform-origin: top center; }
%tooltip-container_start { animation-name: tooltipAppearStart; }
%tooltip-container_start-reset { animation-name: tooltipDisappearStart; transform-origin: right center; }

// Close after hover
.tooltip-interactive:after{
    content: "";
    top: 100%;
    height: 6px;
    width: 100%;
    position: absolute;
    background: transparent;
}

/**
 *  Responsive rules
 */
@each $breakpoint, $size in $grid-breakpoints {
    @include media-breakpoint-up($breakpoint) {
        .modal {
            padding-left: #{map-get($container-gutters, $breakpoint)};
            padding-right: #{map-get($container-gutters, $breakpoint)};
        }
    }
}

@include media-breakpoint-down(md) {
    .modal {
        --#{$prefix}modal-layouts-spacing-compensation-inner: .2;
        --#{$prefix}modal-layouts-spacing-compensation-outer: .5;

        .modal-dialog {
            --#{$prefix}modal-padding: #{$modal-inner-padding-md};
            margin-left: 0;
            margin-right: 0;
        }
    }

    .modal-lg {
        --#{$prefix}modal-width: 100% !important;
    }
}

@include media-breakpoint-down(sm) {
    .modal {
        --#{$prefix}modal-layouts-spacing-compensation-inner: .1;
        padding: 0;

        .modal-dialog {
            --#{$prefix}modal-padding: #{$modal-inner-padding-sm};
        }

        .modal-footer {
            padding-top: 5px;
        }
    }
}

@include media-breakpoint-up(sm) {
    .dropdown .dropdown-menu, .dropdown-toggle ~ .dropdown-menu {
        animation: 300ms dropdownFadeIn;
    }
}

/**
 *  Dark theme adjustments
 */
@include color-mode(dark) {
    .modal {
        --#{$prefix}modal-border-width: 1px;
    }

    .modal-content {
        --#{$prefix}modal-box-shadow: none;
    }

    .form-control, .form-select {
        background-color: var(--#{$prefix}tertiary-bg);
        border-color: var(--#{$prefix}border-color-translucent);
    }

    .form-select:hover {
        cursor: pointer;
    }

    .dropdown-menu {
        --#{$prefix}dropdown-bg: var(--#{$prefix}tertiary-bg);
        --#{$prefix}dropdown-link-hover-bg: var(--#{$prefix}secondary-bg);
    }
}

/**
 *  Keyframes
 */
@keyframes dropdownFadeIn {
    0% {
        opacity: 0;
        margin-top: -7px;
    }
    100% {
        opacity: 1;
    }
}

@keyframes tooltipAppearTop {
    from { transform: translateY(var(--#{$prefix}tooltip-transform-distance)) scale(var(--#{$prefix}tooltip-scale)); }
    to { transform: translateY(0) scale(1); opacity: 1; }
}

@keyframes tooltipDisappearTop {
    from { transform: translateY(0) scale(1); opacity: 1; }
    to { transform: translateY(var(--#{$prefix}tooltip-transform-distance)) scale(var(--#{$prefix}tooltip-scale)); }
}

@keyframes tooltipAppearEnd {
    from { transform: translateX(calc(var(--#{$prefix}tooltip-transform-distance) * -1)) scale(var(--#{$prefix}tooltip-scale)); }
    to { transform: translateX(0) scale(1); opacity: 1; }
}

@keyframes tooltipDisappearEnd {
    from { transform: translateX(0) scale(1); opacity: 1; }
    to { transform: translateX(calc(var(--#{$prefix}tooltip-transform-distance) * -1)) scale(var(--#{$prefix}tooltip-scale)); }
}

@keyframes tooltipAppearBottom {
    from { transform: translateY(calc(var(--#{$prefix}tooltip-transform-distance) * -1)) scale(var(--#{$prefix}tooltip-scale)); }
    to { transform: translateY(0) scale(1); opacity: 1; }
}

@keyframes tooltipDisappearBottom {
    from { transform: translateY(0) scale(1); opacity: 1; }
    to { transform: translateY(calc(var(--#{$prefix}tooltip-transform-distance) * -1)) scale(var(--#{$prefix}tooltip-scale)); }
}

@keyframes tooltipAppearStart {
    from { transform: translateX(var(--#{$prefix}tooltip-transform-distance)) scale(var(--#{$prefix}tooltip-scale)); }
    to { transform: translateX(0) scale(1); opacity: 1; }
}

@keyframes tooltipDisappearStart {
    from { transform: translateX(0) scale(1); opacity: 1; }
    to { transform: translateX(var(--#{$prefix}tooltip-transform-distance)) scale(var(--#{$prefix}tooltip-scale)); }
}
