/**
 *  Patch existing Boostrap styles into Bravo-overrides
 */
.modal {
    .btn[rel=back], .btn[rel=close] {
        font-size: 0;

        &:before {
            content: "";
            mask-repeat: no-repeat;
            mask-size: cover;
            background-color: currentColor;
            width: 14px;
            height: 14px;
        }
    }

    .btn[rel=back]:before {
        mask-image: #{$icon-back};
    }

    .btn[rel=close]:before {
        mask-image: #{$icon-close};
    }    
}

// Fix Modal spacings
.modal {
    --modal-layouts-spacing-compensation-inner: .5;
    --modal-layouts-spacing-compensation-outer: .75; 
    --modal-layout-space-compensation-inner-y: calc(var(--#{$prefix}modal-padding) * calc(var(--modal-layouts-spacing-compensation-inner) * -1));
    --modal-layout-space-compensation-outer-y: calc(var(--#{$prefix}modal-padding) * var(--modal-layouts-spacing-compensation-outer));
    
    .modal-header {
        padding: var(--modal-layout-space-compensation-outer-y) var(--#{$prefix}modal-padding) 0 var(--#{$prefix}modal-padding);
        margin-bottom: var(--modal-layout-space-compensation-inner-y);
    }

    .modal-footer {
        padding: 0 var(--#{$prefix}modal-padding) var(--modal-layout-space-compensation-outer-y) var(--#{$prefix}modal-padding);
        margin-top: var(--modal-layout-space-compensation-inner-y);
    }
}

.modal-content {
    --#{$prefix}modal-box-shadow: #{$modal-content-box-shadow-xs};
    box-shadow: var(--modal-box-shadow);
}

.modal-footer {
    justify-content: center !important;

    & > * {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.modal-header, .modal-footer {
    position: relative;
    z-index: 1;
}

/**
 *  Buttons
 */
.btn {
    &:focus:not(:focus-visible), &:focus-visible {
        outline-offset: 0 !important;
        outline-width: 0 !important;
    }

    &:active {
        transform: scale(.95);
    }
}

/**
 *  Responsive rules
 */
@each $breakpoint, $size in $grid-breakpoints {
    @include media-breakpoint-up($breakpoint) {
        .modal {
            padding-left: #{map-get($container-gutters, $breakpoint)};
            padding-right: #{map-get($container-gutters, $breakpoint)};
        }
    }
}

@include media-breakpoint-down(md) {
    .modal {
        --modal-layouts-spacing-compensation-inner: .2;
        --modal-layouts-spacing-compensation-outer: .5;

        .modal-dialog {
            --#{$prefix}modal-padding: #{$modal-inner-padding-md} !important;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .modal-lg {
        --modal-width: 100% !important;
    }
}

@include media-breakpoint-down(sm) {
    .modal {
        --modal-layouts-spacing-compensation-inner: 0;
        --modal-layouts-spacing-compensation-outer: .4;
        padding: 0;

        .modal-dialog {
            --#{$prefix}modal-padding: #{map-get($container-gutters, sm)} !important; //#{$modal-inner-padding-sm} !important;
        }
    }
}

/**
 *  Dark theme adjustments
 */
@include color-mode(dark) {
    .modal {
        --#{$prefix}modal-border-width: 1px;
    }

    .modal-content {
        --#{$prefix}modal-box-shadow: none;
    }
}