/**
 *  Default styling for Bravo's design system and feeling
 */
$border-radius: 1rem !default;
$btn-border-radius: 10rem; // "circle"
$btn-padding-x: 1.5rem;
$modal-content-border-radius: $border-radius * 1.5 !default;
$modal-header-border-width: 0 !default;
$modal-inner-padding: 2rem !default;
$modal-header-padding-x: 2rem !default;
$modal-header-padding-y: 1.5rem !default;
$modal-header-padding: 1.5rem 2rem !default;
$modal-content-border-width: 0 !default;
$modal-content-box-shadow-xs: 0 5px 25px rgba(0, 0, 0, .15) !default;
$modal-backdrop-bg: var(--#{$prefix}body-bg) !default;
$modal-backdrop-opacity: .75 !default;
$modal-fade-transform: translate(0, 25px) !default;
$btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, transform .15s ease-in-out !default;

/**
 *  Icons overrides
 *  - https://www.streamlinehq.com/icons/core-solid
 */
$icon-back: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 14'><path fill='currentColor' fill-rule='evenodd' d='M5.207 4.207a1 1 0 0 0-1.414-1.414l-3.5 3.5a1 1 0 0 0 0 1.414l3.5 3.5a1 1 0 0 0 1.414-1.414L3.414 8H13a1 1 0 1 0 0-2H3.414l1.793-1.793z' clip-rule='evenodd'/></svg>") !default;
$icon-close: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 14'><path fill='currentColor' fill-rule='evenodd' d='M12.708 2.706a1 1 0 0 0-1.414-1.414L7 5.586 2.706 1.292a1 1 0 0 0-1.414 1.414L5.586 7l-4.294 4.294a1 1 0 1 0 1.414 1.414L7 8.414l4.294 4.294a1 1 0 0 0 1.414-1.414L8.414 7l4.294-4.294z' clip-rule='evenodd'/></svg>") !default;